.mainlayout {
    padding: 3rem!important
}

.header-div__sidenav {
    width: 20%;
    float: left;
    background: #e2d9dc;
    height: 70px;
    margin-top: -25px;
    font-size: 11px;
    margin-bottom: 20px;
}

.header-div__nav {
    width: 80%;
    float: right;
    background: #e2d9dc;
    height: 70px;
    margin-top: -25px;
    margin-bottom: 20px;
}

.header-nav li {
    display: inline-flex;
    margin-left: 90px;
}

.header-nav__link {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #8a327b;
}

.header-nav__link:hover {
    color: rgb(221, 62, 187);
}

.header-sidenav li {
    list-style-type: none;
}

.header-sidenav__link {
    text-decoration: none;
    color: #8a327b;
    font-family: Papyrus, fantasy;
}

.footer {
    margin-top: 48px;
    border-top: 0.4px solid #a01a8a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    background: #e2d9dc;
}

.footer-nav__img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.footer-title {
    color: #8a327b;
    font-size: 50px;
}

.footer-nav {
    display: flex;
    gap: 20px;
    color: #FFF2E7;
    align-items: center;
}

.footer-nav__item {
    display: flex;
    gap: 20px;
    color: #8a327b;
    font-size: 18px;
}

.footer-paragraph {
    color: #8a327b;
}

.notFound-div__error p {
    margin: 0 auto;
    width: 50%;
    display: flex;
    width: 300px;
    justify-content: center;
    color: #8a327b;
    font-size: 50px;
    font-weight: bold;
}

.notFound-div__ops p {
    display: flex;
    justify-content: center;
    color: #8a327b;
    font-size: 30px;
}

.notFound-div__button {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.notFound__button {
    background: #8a327b;
    color: white;
    border-style: outset;
    border-color: #8a327b;
    height: 50px;
    width: 150px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    text-align: center;
}

.notFoundButton__link {
    text-decoration: none;
    color: white;
}

body {
    line-height: 1.5
}